
body {background-color: whitesmoke;
    color: #2C1B19;
    font-family: Neuton Serif;
}
header {background-color: #F3EEEE;
        height: 100;
        width: 100%;
        }
header a {text-decoration: none;}

h1 {position: relative;
    top: 0;
    left: 10px;
    margin-top: 1em;
    font-size: 3em;

}



.navbar{
    border: 0px;
    border-color : #F3EEEE;
}
.navbar-ul{  
    width: 100%;
    border-color : #F3EEEE;
    background-color: #F3EEEE;
}
.navbar li{display: inline;
    padding-inline-start: 150px;
    font-family: Neuton Serif ;
    
}
.navbar a {position: relative;
    bottom: 2px;
    text-decoration: none; 
    padding: 1px;
    font-size: 20px;
    font-weight: bold;
    color: #2C1B19;
 }


.nav-link a {
    font-weight: bold;
    color: #2C1B19;
}
.navbar-custom .navbar-nav .nav-link{
	color:#2C1B19;}





.sticky {
    position: fixed;
    top : 5px;
    width: 100%;
    background-color: #F3EEEE;
    z-index: 1;
}
 
/* .content {
    padding: 16px;
}
.sticky + .content {
    padding-top: 60px;
} */

footer { background-color: #F3EEEE;
    font-size: .70em;
    font-style: italic;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #2C1B19;
    
}

#logo{ align-self: center;
}

.split {
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
}
  
  /* Control the left side */
.left {
left: 20px;
}

/* Control the right side */
.right {
right: 20px;
}

.center {position: absolute;
    top: 50%;
    left: 50%;
}
label { float: left;
    display: block;
    width: 8em;
    padding-right: 1em;
}
input, textarea { margin-bottom: 1em;
            display: block;
}
#mySubmit { margin-left: 10em; 
            }

.col-sm-4 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background:transparent;
    color: #2C1B19;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background-color: #F3EEEE;
    font-family: Neuton Serif;
    font-weight: bold;
    
  }

  /* change the background color */

iframe{ padding-top: 2em;}