
body {background-color: whitesmoke;
    color: #2C1B19;
    font-family: Neuton Serif;
}
header {background-color: #F3EEEE;
        height: 100;
        width: 100%;
}
header a {text-decoration: none;}

h1 {position: relative;
    top: 0;
    left: 10px;
    margin-top: 1em;
    font-size: 3em;
}

h3 {padding-top: 2em; }

.navbar{
    border: 0px;
    border-color : #F3EEEE;
}
.navbar-ul{  
    width: 100%;
    border-color : #F3EEEE;
    background-color: #F3EEEE;
}

@media all and (min-width : 1024px) {
    .navbar li{padding-inline-start: 90px;}
    }

@media all and (min-width: 769px) and (max-width : 1023px) {
    .navbar li{padding-inline-start: 40px;}
    }

.navbar li {
    display: inline;
    font-family: Neuton Serif ;
}

.navbar a {position: relative;
    bottom: 2px;
    text-decoration: none; 
    padding: 1px;
    font-size: 20px;
    font-weight: bold;
    color: #2C1B19;
 }


.nav-link a {
    font-weight: bold;
    color: #2C1B19;
}
.navbar-custom .navbar-nav .nav-link{
	color:#2C1B19;}





.sticky {
    position: fixed;
    top : 5px;
    width: 100%;
    background-color: #F3EEEE;
    z-index: 1;
}

footer { background-color: #F3EEEE;
    font-size: .70em;
    font-style: italic;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #2C1B19;
    padding-bottom: 1em;
    margin-bottom: 1em;
    position: relative;
    
}



.split {
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
}
  
  /* Control the left side */
.left {
left: 20px;
}

/* Control the right side */
.right {
right: 20px;
}

.center {position: absolute;
    top: 50%;
    left: 50%;
}
label { float: left;
    display: block;
    width: 8em;
    padding-right: 1em;
}
input, textarea { margin-bottom: 1em;
            display: block;
}
#mySubmit { margin-left: 10em; 
            }
.row {padding-top: 1em;
    padding-right: .5em;}

.col-sm-4 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background:transparent;
    color: #2C1B19;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background-color: #F3EEEE;
    font-family: Neuton Serif;
    font-weight: bold;
    
  }

  
iframe{ padding-top: 4em;
    padding-left: 2em;
}
.fotorama {padding-top: 1em;}

.shop h2 { text-align: center;
            padding-top: 1.5em;
            font-weight: bold;
}