
body {background-color: white;
    color: #2C1B19;
    font-family: Neuton Serif;
}
header {background-color: #F3EEEE;
        height: 100;
        }

h1 {position: relative;
    top: 0;
    left: 10px;
    margin-top: 1em;
    font-size: 3em;

}



.navbar ul{  
    top: 160px; 
    width: 100%;
    background-color: #F3EEEE;
    display: block; 
}
.navbar li{display: inline;
    padding-inline-start: 150px;
    font-family: Neuton Serif ;
    
}
.navbar a {position: relative;
    top: -15px;
    text-decoration: none; 
    padding: 5px;
    font-size: 20px;
    font-weight: bold; }
.navbar a:link { color: #2C1B19;}
.navbar a:visited { color: rgb(185, 161, 129); }
.navbar a:hover { color: rgb(138, 101, 28); }

.sticky {
    position: fixed;
    top : 5px;
    width: 100%;
    background-color: #F3EEEE;
    z-index: 1;
}

/* .content {
    padding: 16px;
}
.sticky + .content {
    padding-top: 60px;
} */

footer { background-color: #F3EEEE;
    font-size: .60em;
    font-style: italic;
    height: 2.5rem; 
    width: 100%;
    text-align: center;}

#logo{ align-self: center;
}

.split {
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
}
  
  /* Control the left side */
.left {
left: 20px;
}

/* Control the right side */
.right {
right: 20px;
}

.center {position: absolute;
    top: 50%;
    left: 50%;
}
label { float: left;
    display: block;
    width: 8em;
    padding-right: 1em;
}
input, textarea { margin-bottom: 1em;
            display: block;
}
#mySubmit { margin-left: 10em; }

